.editable{
  position: relative;
  padding:.3em;
}

.message{
  position: absolute;
  top:0;
  padding:.2em;
  z-index:4;
  background:rgb(68, 204, 68);
}

.errorMessage{
  composes:message;
  background:rgb(184, 63, 63);
}

.close{
  background:transparent;
}

.controls{
  float:left;
  clear:left;
}

.editable label > span{
  font-size:.7rem;
}

.editable form label{
  display: flex;
  position: relative;
  margin-bottom: 0;
}

.container{
  display: inline;
}