.event{
  /* display: flex; */
  max-width:42em;
  align-items:flex-start;
  justify-content: space-between;
  position: relative;
  flex-wrap:wrap;
  flex-direction:column;
  padding:1em;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "a right"
    "b right"
    "c right"
    "d right"
    "controls controls";
  border-top:1px solid #ccc;
  margin-top:1.58rem;
}

.event::after{
  content:'';
  display: table;
  width:100%;
  clear:both;
}

.info{
  max-width: 100%;
}

.title{
  composes:info;
  grid-area: a;
}

.date{
  composes:info;
  color:#7a7a7a;
  grid-area: b;
}

.rank{
  grid-area: c;
}

.description{
  composes:info;
  font-size:.8em;
  margin-bottom:.3em;
  grid-area: d;
}

.image{
  width:10em;
  height:10em;
  float:right;
  grid-area: right;
  align-self: flex-end;
  justify-self: end;
  align-self: start;
  visibility: hidden;
}

.event:first-of-type .image{
  width:19em;
  height:22em;
}

.event:first-of-type .image, :global .edit-mode :local .image{
  visibility: visible;
}

@media screen and (max-width:60em){
  .image{
    display:none;
  }
}

.title, .date, .description{
  margin-bottom:.5rem;
}