.exhibition{
  display: flex;
  max-width:42em;
  justify-content: space-between;
  position: relative;
}

.info{
  width:50%;
}

.galleryName{

}

.galleryDate{
  color:#7a7a7a;
}

.galleryLocation p{
  font-size:.8em;
  margin-bottom:.3em;
}

.image{
  width:19em;
  height:100%;
  position: absolute;
  right:0;
  top:0;
  bottom: 0;
}