.editableContent{
  display: inline-block;
}

.editMode .editableContent > *{
  width:100%;
  background: bisque;
  padding:1em;
  box-sizing: border-box;
}

.container{
  display: inline-block;
  clear:both;
  width:100%;
  position: relative;
}

.editMode .editableContent > :first-child{
}

.buttons{
  position: absolute;
  top:0;
  right:0;
}