.field{
  width:100%;
  clear:both;
  display: inline-block;
  margin-bottom:10px;
}
.field span{
  display: inline-block;
}

.field input, .field textarea{
  
}

.fieldInput{
  background:black;
  color:white;
  position: relative;
  width:auto;
}

.fieldInput input{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0;
}

.fieldSelect{

}
.fieldRadio{

}
.fieldText{

}
.fieldTextArea textarea{
  height:5em;
}

.error{
  color:red;
  display:none;
}

.hasError{
  composes:error;
  display:inline-block;
}