.image{
  position: relative;
  text-align: center;
  overflow:hidden;
  display: inline-block;
  background:linear-gradient(#111,#222);
  width:100%;
}

.image img{
  margin-bottom: 0;
}

.failed{
  composes:image;
}

.inverted{
  composes:image;
  background:linear-gradient(#ddd,#eee)
}

.transparent{
  composes:image;
  background:transparent;
}

.stretch{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}

.inside{
  opacity: 0;
  composes:stretch;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}
.loaded{
  composes:inside;
  opacity:1;
}


.contain{
  composes:inside;
  background-size: contain;
}

.cover{
  composes:inside;
  background-size: cover;
}


.element{
  visibility: hidden;
}

.spinner{
  opacity:0;
  composes:stretch;
  display:block;
  transition:opacity .3s ease-out;
}
.loading{
  composes:spinner;
  opacity:1;
}