.nav{
  position: fixed;
  font-size:1.5em;
  top: 0;
  left: 0;
  bottom:0;
  overflow: hidden;
  z-index: 10;
  transform-style: preserve-3d;
  display: block;
}

.open{
  composes: nav;
}

.overlay{
  color: transparent;
  width: 100%;
  border-radius: 0;
  background: rgba(0,0,0,0.2);
  transition: opacity .3s ease, bottom 0s linear .3s;
  position: fixed;
  min-height: 100%;
  display: inline-block;
  transform: none;
  box-shadow: inset 0 0 0 99em rgba(17,17,17,0.2);
  user-select: none;
  bottom: -1000em;
  opacity:0
}

.open .overlay{
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  opacity: 1;
}

.menu{
  display: flex;
  justify-content: flex-start;
  transform-origin: center left;
  flex-direction: column;
  transition: all .25s ease;
  z-index: 11;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: #fff;
  transform: translateX(-100%);
  overflow-y: auto;
}

.menu hr{
  width:3em;
  margin-bottom:0;
}

.menu h3{
  margin-bottom:0;
  margin-top:1em;
  color: rgb(73, 73, 73);
  height:100%;
}

.open .menu{
  transform: translateX(0)
}

.menuItems{
  float:right;
  width:12em;
  padding:1em;
}

.menuItem{
  width:100%;
  display: inline-block;
  padding:.5em;
}

.menuItem a, .menuItem a:hover{
  text-decoration:none;
}

.menuItem a::before{
  content:'';
  display:inline-block;
  background:#4d6071;
  width:5px;
  height:5px;
  margin-right:3px;
  margin-bottom:1px;
}

.menuItem h3 a::before{
  content:none;
}

.menuItem a.active::before, .menuItem a:hover::before{
  background:#733433;
}

.header{
  display: inline-block
}

.header > img, .header .image{
  margin:0;
}

.header h1, .header h2, .header h3{
  display: inline-block;
  margin:0;
}

@media all and (min-width: 60em){
  .nav{
    font-size:1em;
    width:12em;
  }
  .overlay{
    display: none;
  }
  .menu{
    transform: translateX(0);
    width: auto;
  }
}

@media all and (min-width: 90em){
  .nav{
    top:0;
    left:0;
    right:0;
    width:100%;
    bottom:auto;
  }
  .menu{
    left:0;
    flex-direction: row;
    justify-content: space-around;
    right:0;
    top:0;
    bottom: auto;
    min-height: auto;
    width:100%;
    transform: translateX(0);
    height:4.5em;
    box-shadow: 0 0 0.2em rgba(17,17,17,0.2);
  }
  .menuItems{
    display:flex;
    flex-direction: inherit;
    width:60em;
    justify-content: space-evenly;
  }
  .menuItem{
    width:auto;
    float:left;
  }
  .menuItem a::before{
    content:none;
  }
  .header img{
    height:2em;
    width:auto;
  }
  .menu hr{
    width:1px;
    height:2em;
    display: inline-block;
  }
  .menu h3{
    margin-top:0;
  }
}
