.spinner{
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    display: inline-block;
}
.spinner::before, .spinner::after{
    content:'';
    width:5em;
    height:5em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left:50%;
    box-sizing: border-box;
    margin-top: -2.5em;
    margin-left: -2.5em;
    border-radius: 100%;
    animation: spin infinite 4s linear;
    border: 5px dashed transparent;
    border-top-color:rgba(255,255,255,.3);
    border-left-color:white;
    border-bottom-color:rgba(255,255,255,.3);
}
.spinner::before{
    width:3em;
    height:3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    animation-delay:.2s;
    animation-duration: 2s;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}