.content{
  width: 100%;
  max-width:60em;
  margin:7em auto;
  padding:1em;
  box-sizing: border-box;
}

@media all and (min-width: 60em){
  .content{
    padding-left:12em;
  }
}


@media all and (min-width: 76em){
  .content{
    margin:7em auto;
  }
}